html,body {
  height:100%;
  width:100%;
  margin:0;
}
body {
  display:flex;
}

.form-notification {
  text-align: center;
  max-width: 300px;
  padding: 20px;
  margin: auto;
  background-color: #fff;
  border: 1px solid #e5e5e5;
}

#top-message {
  position: absolute;
  top: 20px;
  width: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
}
